*{
    margin: 0;

}
.containter {
    margin-top: 60px;
    margin-left: 380px;
    margin-right: 380px;
    margin-bottom: 100px;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 40px;
    
   
    /* background-color: aqua; */
}
.containter P{
    text-align: center;
    
}
.containter h2 {
    
    text-align: center;
}
.containter img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 20px

    /* width: 50%; */
  }

  .body{
    background-image: url(two.jpg);
 }
 .containter div{
    margin-bottom: 30px;
 } 
